In [21]:
import scipy.stats as stats
import numpy as np
import pandas as pd

In [36]:
df = pd.read_csv("NISPUF17.xls",encoding='unicode_escape')

In [37]:
df

,Unnamed: 0,SEQNUMC,SEQNUMHH,PDAT,PROVWT_D,RDDWT_D,STRATUM,YEAR,AGECPOXR,HAD_CPOX,...,XVRCTY2,XVRCTY3,XVRCTY4,XVRCTY5,XVRCTY6,XVRCTY7,XVRCTY8,XVRCTY9,INS_STAT2_I,INS_BREAK_I
0,1,128521,12852,2,NaN,235.916956,1031,2017,NaN,2,...,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,10741,1074,2,NaN,957.353840,1068,2017,NaN,2,...,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,220011,22001,2,NaN,189.611299,1050,2017,NaN,2,...,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,86131,8613,1,675.430817,333.447418,1040,2017,NaN,2,...,,,NaN,NaN,NaN,NaN,NaN,NaN,1.0,2.0
4,5,227141,22714,1,482.617748,278.768063,1008,2017,NaN,2,...,,,NaN,NaN,NaN,NaN,NaN,NaN,2.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28460,28461,19141,1914,2,NaN,21.188088,2062,2017,NaN,2,...,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28461,28462,121401,12140,2,NaN,26.503010,2004,2017,NaN,2,...,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28462,28463,128831,12883,2,NaN,27.520652,2004,2017,NaN,2,...,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28463,28464,82921,8292,2,NaN,22.390587,2062,2017,NaN,2,...,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28464,28465,244621,24462,2,NaN,27.520652,2004,2017,NaN,2,...,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

analysis mothers children who have: less high school, high school and not a college graduate

In [38]:
df = pd.read_csv("assets/NISPUF17.csv")
a = len(df[df['EDUC1'] == 1])/len(df['EDUC1'])
b = len(df[df['EDUC1'] == 2])/len(df['EDUC1'])
c = len(df[df['EDUC1'] == 3])/len(df['EDUC1'])
d = len(df[df['EDUC1'] == 4])/len(df['EDUC1'])

In [39]:
dict = {'less than high school':a,
            'high school':b,
            'more than high school but not college':c,
            'college':d}

this is portions education mother

In [40]:
dict

{'less than high school': 0.10202002459160373,
 'high school': 0.172352011241876,
 'more than high school but not college': 0.24588090637625154,
 'college': 0.47974705779026877}

 the average number of influenza vaccines for those children we know received breastmilk as a child and those who know did not.

In [41]:
df1= df[['CBF_01','P_NUMFLU']]
df1.isna().sum()

CBF_01          0
P_NUMFLU    13132
dtype: int64

In [42]:
df2=df1[df1["P_NUMFLU"].notna()]

In [43]:
t1= len(df2[df2['CBF_01']==1])
t2= len(df2[df2['CBF_01']==2])

In [44]:
mi = df2[df2['CBF_01']==1]['P_NUMFLU'].sum()
notmi=df2[df2['CBF_01']==2]['P_NUMFLU'].sum()

In [85]:
a1=mi/t1
a2=notmi/t2

this number show avg children who know received got vaccinated higher  than who didnt

In [87]:
res= (print("received "+str(a1)),print("who did not received "+str(a2)))

received 1.8799187420058687
who did not received 1.5963945918878317

 the ratio of the number of children who contracted chickenpox but were vaccinated against it (at least one varicella dose) versus those who were vaccinated but did not contract chicken pox.

In [88]:
df3=df[df['P_NUMVRC']>=1]
a=df3[df3['HAD_CPOX']==1]
b=df3[df3['HAD_CPOX']==2]

In [89]:

cvac={}
m_inf=len(a[a['SEX']==1])
m_notinf=len(b[b['SEX']==1])
f_inf=len(a[a['SEX']==2])
f_notinf=len(b[b['SEX']==2])

cvac['male']=m_inf/m_notinf
cvac['female']=f_inf/f_notinf

In [91]:
cvac

{'male': 0.013904718486437201, 'female': 0.01189127972819932}

then analysis correltion between  having had the chicken pox and the number of chickenpox vaccine dose given

 metrics used :
 
HAD_CPOX: the number child had chicken pox
      
P_NUMVRC:is the number of doses a child has been given of the vaccine

In [98]:
df4=pd.DataFrame({"had_chickenpox_column":np.random.randint(1,3,size=(100)),
               "num_chickenpox_vaccine_column":np.random.randint(0,6,size=(100))})

In [100]:
df4=df

In [101]:
df4=df4[['HAD_CPOX','P_NUMVRC']]
df4=df4[df['HAD_CPOX']<=3]

In [97]:
df4

       HAD_CPOX  P_NUMVRC
3             2       1.0
4             2       0.0
6             2       1.0
7             2       0.0
8             1       0.0
...         ...       ...
28446         2       1.0
28447         2       1.0
28449         2       1.0
28452         2       1.0
28454         2       1.0

[15286 rows x 2 columns]


we got positive numbers, it means that an increase in HAD_CPOX would also increase the values of P_NUMVRC

In [94]:

df4=df4[df4['P_NUMVRC'].notna()]

corr,pval=stats.pearsonr(df4["HAD_CPOX"],df4["P_NUMVRC"])
corr

0.07044873460147996

then A small pval means that the observed correlation is highly unlikely to occur by chance

In [96]:
pval

2.7780263182891283e-18