# Top 5 Countries over the last 5 years

this notebook use 3 data , and this date range from 2006 until 2015

Energy Indicators.xls .

world_bank.csv .

scimagojr-3.xlsx .

In [1]:
import pandas as pd
import numpy as np

merge 3 data above and then sort them

In [2]:
ex  =pd.ExcelFile('Energy Indicators.xls')

first remove unnecessary element from excel  file, because data that we need is start in rows 17 and ends in rows 38

In [3]:
en = pd.read_excel(ex,0,skiprows=17,skipfooter=38)

In [4]:
en.columns

Index(['Unnamed: 0', 'Unnamed: 1', 'Unnamed: 2', 'Petajoules', 'Gigajoules',
       '%'],
      dtype='object')

In [5]:
en=en.drop(['Unnamed: 0','Unnamed: 1'],axis=1)

because  we dont have column country then we have to rename that columns

In [6]:
en=en.drop(3)

In [7]:
en =en.rename({'Unnamed: 2':'Country','Petajoules':'Energy Supply','Gigajoules':'Energy Supply per Capita','%':'% Renewable'},axis=1)

we need to calculate energy supply into joules

In [8]:
en['Energy Supply'] = en['Energy Supply']*1000000

In [9]:
en[en['Country']=='South Korea']

Empty DataFrame
Columns: [Country, Energy Supply, Energy Supply per Capita, % Renewable]
Index: []

we have problem with Country names with number and symbol which is that is something we need to remove

first replace number to nothing

In [10]:
en['Country'].replace(r"([0-9,\(]+)(.*)",'',regex=True,inplace=True)

replace names country contains like "bla ()"

In [11]:
en['Country'].replace(r"\(",'',regex=True,inplace=True)

then the names must end without whitespace

In [12]:
en['Country'].replace(r"[ \t]+$",'',regex=True,inplace=True)

the our dataset is clear

In [13]:
en[en['Country']=='Bolivia']

    Country Energy Supply Energy Supply per Capita  % Renewable
24  Bolivia     336000000                       32     31.47712

In [14]:
en[en['Country']=='Switzerland']

         Country Energy Supply Energy Supply per Capita  % Renewable
197  Switzerland    1113000000                      136     57.74548

In [15]:
en['Country'].values

array(['Afghanistan', 'Albania', 'Algeria', 'Andorra', 'Angola',
       'Anguilla', 'Antigua and Barbuda', 'Argentina', 'Armenia', 'Aruba',
       'Australia', 'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain',
       'Bangladesh', 'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin',
       'Bermuda', 'Bhutan', 'Bolivia', 'Bonaire',
       'Bosnia and Herzegovina', 'Botswana', 'Brazil',
       'British Virgin Islands', 'Brunei Darussalam', 'Bulgaria',
       'Burkina Faso', 'Burundi', 'Cabo Verde', 'Cambodia', 'Cameroon',
       'Canada', 'Cayman Islands', 'Central African Republic', 'Chad',
       'Chile', 'China', 'China', 'China', 'Colombia', 'Comoros', 'Congo',
       'Cook Islands', 'Costa Rica', "Côte d'Ivoire", 'Croatia', 'Cuba',
       'Curaçao', 'Cyprus', 'Czech Republic',
       "Democratic People's Republic of Korea",
       'Democratic Republic of the Congo', 'Denmark', 'Djibouti',
       'Dominica', 'Dominican Republic', 'Ecuador', 'Egypt',
       'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Estonia',
       'Ethiopia', 'Faeroe Islands', 'Falkland Islands', 'Fiji',
       'Finland', 'France', 'French Guiana', 'French Polynesia', 'Gabon',
       'Gambia', 'Georgia', 'Germany', 'Ghana', 'Gibraltar', 'Greece',
       'Greenland', 'Grenada', 'Guadeloupe', 'Guam', 'Guatemala',
       'Guernsey', 'Guinea', 'Guinea-Bissau', 'Guyana', 'Haiti',
       'Honduras', 'Hungary', 'Iceland', 'India', 'Indonesia', 'Iran',
       'Iraq', 'Ireland', 'Isle of Man', 'Israel', 'Italy', 'Jamaica',
       'Japan', 'Jersey', 'Jordan', 'Kazakhstan', 'Kenya', 'Kiribati',
       'Kuwait', 'Kyrgyzstan', "Lao People's Democratic Republic",
       'Latvia', 'Lebanon', 'Lesotho', 'Liberia', 'Libya',
       'Liechtenstein', 'Lithuania', 'Luxembourg', 'Madagascar', 'Malawi',
       'Malaysia', 'Maldives', 'Mali', 'Malta', 'Marshall Islands',
       'Martinique', 'Mauritania', 'Mauritius', 'Mexico', 'Micronesia',
       'Mongolia', 'Montenegro', 'Montserrat', 'Morocco', 'Mozambique',
       'Myanmar', 'Namibia', 'Nauru', 'Nepal', 'Netherlands',
       'New Caledonia', 'New Zealand', 'Nicaragua', 'Niger', 'Nigeria',
       'Niue', 'Northern Mariana Islands', 'Norway', 'Oman', 'Pakistan',
       'Palau', 'Panama', 'Papua New Guinea', 'Paraguay', 'Peru',
       'Philippines', 'Poland', 'Portugal', 'Puerto Rico', 'Qatar',
       'Republic of Korea', 'Republic of Moldova', 'Réunion', 'Romania',
       'Russian Federation', 'Rwanda', 'Saint Helena',
       'Saint Kitts and Nevis', 'Saint Lucia',
       'Saint Pierre and Miquelon', 'Saint Vincent and the Grenadines',
       'Samoa', 'Sao Tome and Principe', 'Saudi Arabia', 'Senegal',
       'Serbia', 'Seychelles', 'Sierra Leone', 'Singapore',
       'Sint Maarten', 'Slovakia', 'Slovenia', 'Solomon Islands',
       'Somalia', 'South Africa', 'South Sudan', 'Spain', 'Sri Lanka',
       'State of Palestine', 'Sudan', 'Suriname', 'Swaziland', 'Sweden',
       'Switzerland', 'Syrian Arab Republic', 'Tajikistan', 'Thailand',
       'The former Yugoslav Republic of Macedonia', 'Timor-Leste', 'Togo',
       'Tonga', 'Trinidad and Tobago', 'Tunisia', 'Turkey',
       'Turkmenistan', 'Turks and Caicos Islands', 'Tuvalu', 'Uganda',
       'Ukraine', 'United Arab Emirates',
       'United Kingdom of Great Britain and Northern Ireland',
       'United Republic of Tanzania', 'United States of America',
       'United States Virgin Islands', 'Uruguay', 'Uzbekistan', 'Vanuatu',
       'Venezuela', 'Viet Nam', 'Wallis and Futuna Islands', 'Yemen',
       'Zambia', 'Zimbabwe'], dtype=object)

In [16]:
en['Country'].replace({'Republic of Korea':'South Korea',
                               'United States of America':'United States',
                               'United Kingdom of Great Britain and Northern Ireland':'United Kingdom',
                               'China, Hong Kong Special Administrative Region':'Hong Kong'}, inplace=True)

In [17]:
# %load world bank data and start in rows 4
en

,Country,Energy Supply,Energy Supply per Capita,% Renewable
0,Afghanistan,321000000,10,78.66928
1,Albania,102000000,35,100.00000
2,Algeria,1959000000,51,0.55101
4,Andorra,9000000,121,88.69565
5,Angola,642000000,27,70.90909
...,...,...,...,...
222,Viet Nam,2554000000,28,45.32152
223,Wallis and Futuna Islands,0,26,0.00000
224,Yemen,344000000,13,0.00000
225,Zambia,400000000,26,99.71467
226,Zimbabwe,480000000,32,52.53612

In [18]:
gdp=pd.read_csv('world_bank.csv',skiprows=4)

In [19]:
gdp

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
0,Aruba,ABW,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,2.467704e+09,NaN,NaN,NaN,NaN,NaN
1,Andorra,AND,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,NaN,...,4.018196e+09,4.021331e+09,3.675728e+09,3.535389e+09,3.346317e+09,3.185605e+09,3.129538e+09,3.127550e+09,NaN,NaN
2,Afghanistan,AFG,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,NaN,...,1.030523e+10,1.172119e+10,1.214448e+10,1.469733e+10,1.593680e+10,1.691113e+10,1.935220e+10,1.973134e+10,1.999032e+10,2.029415e+10
3,Angola,AGO,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,NaN,...,5.581103e+10,6.842044e+10,7.787420e+10,7.975320e+10,8.247091e+10,8.570262e+10,9.012096e+10,9.626143e+10,1.008863e+11,1.039106e+11
4,Albania,ALB,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,NaN,...,9.771760e+09,1.034829e+10,1.112752e+10,1.150029e+10,1.192695e+10,1.223109e+10,1.240477e+10,1.254247e+10,1.279331e+10,1.312082e+10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
259,"Yemen, Rep.",YEM,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,NaN,...,2.672565e+10,2.761787e+10,2.872656e+10,2.991436e+10,3.090675e+10,2.624342e+10,2.689160e+10,2.800914e+10,NaN,NaN
260,South Africa,ZAF,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,7.707081e+10,8.003449e+10,8.497844e+10,9.124438e+10,9.848904e+10,1.072507e+11,...,3.402852e+11,3.585261e+11,3.699668e+11,3.642764e+11,3.753494e+11,3.874074e+11,3.960071e+11,4.047682e+11,4.110369e+11,4.163117e+11
261,"Congo, Dem. Rep.",COD,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,1.508024e+10,1.344383e+10,1.629401e+10,1.714358e+10,1.672524e+10,1.689205e+10,...,1.650894e+10,1.754232e+10,1.863448e+10,1.916651e+10,2.052329e+10,2.193213e+10,2.350200e+10,2.550050e+10,2.778776e+10,2.970961e+10
262,Zambia,ZMB,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,4.592975e+09,4.655503e+09,4.539542e+09,4.688093e+09,5.260699e+09,6.136472e+09,...,1.440569e+10,1.560892e+10,1.682234e+10,1.837342e+10,2.026555e+10,2.140358e+10,2.302438e+10,2.420595e+10,2.542227e+10,2.624127e+10
263,Zimbabwe,ZWE,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,3.338344e+09,3.549199e+09,3.600111e+09,3.824915e+09,3.782605e+09,3.968352e+09,...,1.006276e+10,9.695130e+09,7.982103e+09,8.459783e+09,9.422161e+09,1.054391e+10,1.165789e+10,1.218064e+10,1.264939e+10,1.278517e+10

the we must rename country apropriately

In [20]:
gdp['Country Name'].replace("Korea, Rep.","South Korea",inplace=True)
gdp['Country Name'].replace("Iran, Islamic Rep.", "Iran",inplace=True)
gdp['Country Name'].replace("Hong Kong SAR, China", "Hong Kong",inplace=True)

In [21]:
gdp.columns

Index(['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code',
       '1960', '1961', '1962', '1963', '1964', '1965', '1966', '1967', '1968',
       '1969', '1970', '1971', '1972', '1973', '1974', '1975', '1976', '1977',
       '1978', '1979', '1980', '1981', '1982', '1983', '1984', '1985', '1986',
       '1987', '1988', '1989', '1990', '1991', '1992', '1993', '1994', '1995',
       '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004',
       '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013',
       '2014', '2015'],
      dtype='object')

we only want over 5 years

In [22]:
gdp = gdp[['Country Name','2011','2012','2013','2014','2015']]

In [23]:
gdp

,Country Name,2011,2012,2013,2014,2015
0,Aruba,NaN,NaN,NaN,NaN,NaN
1,Andorra,3.185605e+09,3.129538e+09,3.127550e+09,NaN,NaN
2,Afghanistan,1.691113e+10,1.935220e+10,1.973134e+10,1.999032e+10,2.029415e+10
3,Angola,8.570262e+10,9.012096e+10,9.626143e+10,1.008863e+11,1.039106e+11
4,Albania,1.223109e+10,1.240477e+10,1.254247e+10,1.279331e+10,1.312082e+10
...,...,...,...,...,...,...
259,"Yemen, Rep.",2.624342e+10,2.689160e+10,2.800914e+10,NaN,NaN
260,South Africa,3.874074e+11,3.960071e+11,4.047682e+11,4.110369e+11,4.163117e+11
261,"Congo, Dem. Rep.",2.193213e+10,2.350200e+10,2.550050e+10,2.778776e+10,2.970961e+10
262,Zambia,2.140358e+10,2.302438e+10,2.420595e+10,2.542227e+10,2.624127e+10
263,Zimbabwe,1.054391e+10,1.165789e+10,1.218064e+10,1.264939e+10,1.278517e+10

load data scimagojr

In [24]:
sc = pd.DataFrame(pd.read_excel('scimagojr-3.xlsx'))

to be able manipulate that data we need change format into csv

In [25]:
sc.to_csv("scimagojr-3.csv",index = None, header=True)

In [26]:
sc = pd.read_csv("scimagojr-3.csv")

Filter only top 5 countries

In [27]:
sc=sc[:5]

In [28]:
sc

,Rank,Country,Documents,Citable documents,Citations,Self-citations,Citations per document,H index
0,1,China,127050,126767,597237,411683,4.70,138
1,2,United States,96661,94747,792274,265436,8.20,230
2,3,Japan,30504,30287,223024,61554,7.31,134
3,4,United Kingdom,20944,20357,206091,37874,9.84,139
4,5,Russian Federation,18534,18301,34266,12422,1.85,57

sort values by theirs rank

In [29]:
sc.sort_values(by=['Rank']).head(10)

,Rank,Country,Documents,Citable documents,Citations,Self-citations,Citations per document,H index
0,1,China,127050,126767,597237,411683,4.70,138
1,2,United States,96661,94747,792274,265436,8.20,230
2,3,Japan,30504,30287,223024,61554,7.31,134
3,4,United Kingdom,20944,20357,206091,37874,9.84,139
4,5,Russian Federation,18534,18301,34266,12422,1.85,57

there is a duplicate data

In [30]:
en[en['Country']=='China']

   Country Energy Supply Energy Supply per Capita  % Renewable
42   China  127191000000                       93     19.75491
43   China     585000000                       82      0.00000
44   China      47000000                       83      0.00000

In [31]:
en.duplicated()

0      False
1      False
2      False
4      False
5      False
       ...
222    False
223    False
224    False
225    False
226    False
Length: 226, dtype: bool

remove duplicate data

In [32]:
en =en.drop_duplicates(subset='Country')

In [33]:
en[en['Country']=='China']

   Country Energy Supply Energy Supply per Capita  % Renewable
42   China  127191000000                       93     19.75491

then merge sc and en with inner join on Country

In [34]:
df=pd.merge(sc,en, how='inner', left_on="Country",right_on="Country")

In [35]:
df.head(15)

,Rank,Country,Documents,Citable documents,Citations,Self-citations,Citations per document,H index,Energy Supply,Energy Supply per Capita,% Renewable
0,1,China,127050,126767,597237,411683,4.70,138,127191000000,93,19.75491
1,2,United States,96661,94747,792274,265436,8.20,230,90838000000,286,11.57098
2,3,Japan,30504,30287,223024,61554,7.31,134,18984000000,149,10.23282
3,4,United Kingdom,20944,20357,206091,37874,9.84,139,7920000000,124,10.60047
4,5,Russian Federation,18534,18301,34266,12422,1.85,57,30709000000,214,17.28868

In [36]:
gdp=gdp.rename({'Country Name':'Country'},axis=1)

In [37]:
final = pd.merge(df,gdp,how='inner',left_on="Country",right_on="Country")

In [38]:
final =final.set_index('Country')

# top 5 countries  over the last 5 years

In [39]:
final.head(5)

,Rank,Documents,Citable documents,Citations,Self-citations,Citations per document,H index,Energy Supply,Energy Supply per Capita,% Renewable,2011,2012,2013,2014,2015
Country,,,,,,,,,,,,,,,
China,1,127050,126767,597237,411683,4.70,138,127191000000,93,19.75491,6.612490e+12,7.124978e+12,7.672448e+12,8.230121e+12,8.797999e+12
United States,2,96661,94747,792274,265436,8.20,230,90838000000,286,11.57098,1.520402e+13,1.554216e+13,1.577367e+13,1.615662e+13,1.654857e+13
Japan,3,30504,30287,223024,61554,7.31,134,18984000000,149,10.23282,5.473738e+12,5.569102e+12,5.644659e+12,5.642884e+12,5.669563e+12
United Kingdom,4,20944,20357,206091,37874,9.84,139,7920000000,124,10.60047,2.450911e+12,2.479809e+12,2.533370e+12,2.605643e+12,2.666333e+12
Russian Federation,5,18534,18301,34266,12422,1.85,57,30709000000,214,17.28868,1.589943e+12,1.645876e+12,1.666934e+12,1.678709e+12,1.616149e+12

In [40]:
final.columns

Index(['Rank', 'Documents', 'Citable documents', 'Citations', 'Self-citations',
       'Citations per document', 'H index', 'Energy Supply',
       'Energy Supply per Capita', '% Renewable', '2011', '2012', '2013',
       '2014', '2015'],
      dtype='object')

In [41]:
all_concat = pd.concat([sc,en,gdp])['Country'].unique()

dif = len(all_concat)-len(final)
dif

299

In [42]:
final.iloc[:,10:]

,2011,2012,2013,2014,2015
Country,,,,,
China,6.612490e+12,7.124978e+12,7.672448e+12,8.230121e+12,8.797999e+12
United States,1.520402e+13,1.554216e+13,1.577367e+13,1.615662e+13,1.654857e+13
Japan,5.473738e+12,5.569102e+12,5.644659e+12,5.642884e+12,5.669563e+12
United Kingdom,2.450911e+12,2.479809e+12,2.533370e+12,2.605643e+12,2.666333e+12
Russian Federation,1.589943e+12,1.645876e+12,1.666934e+12,1.678709e+12,1.616149e+12

In [43]:
gdp5=final.iloc[:,10:]

In [44]:
gdp5

,2011,2012,2013,2014,2015
Country,,,,,
China,6.612490e+12,7.124978e+12,7.672448e+12,8.230121e+12,8.797999e+12
United States,1.520402e+13,1.554216e+13,1.577367e+13,1.615662e+13,1.654857e+13
Japan,5.473738e+12,5.569102e+12,5.644659e+12,5.642884e+12,5.669563e+12
United Kingdom,2.450911e+12,2.479809e+12,2.533370e+12,2.605643e+12,2.666333e+12
Russian Federation,1.589943e+12,1.645876e+12,1.666934e+12,1.678709e+12,1.616149e+12

In [45]:
avgGdp= gdp5.mean(axis=1)

avgGdp = avgGdp.sort_values(ascending=False)

In [46]:
avgGdp.head(10)

Country
United States         1.584501e+13
China                 7.687607e+12
Japan                 5.599989e+12
United Kingdom        2.547213e+12
Russian Federation    1.639522e+12
dtype: float64

united states is in the top countries over 5 years

In [47]:
Q= avgGdp[avgGdp==avgGdp[0]].index[0]

In [48]:
Q

'United States'

In [49]:
final.loc[Q]

Rank                                       2
Documents                              96661
Citable documents                      94747
Citations                             792274
Self-citations                        265436
Citations per document                   8.2
H index                                  230
Energy Supply                    90838000000
Energy Supply per Capita                 286
% Renewable                         11.57098
2011                        15204019634600.0
2012                        15542161722300.0
2013                        15773666098800.0
2014                        16156618476000.0
2015                        16548573278300.0
Name: United States, dtype: object

comparing gdp per year 2015 and 2011

In [50]:
final.loc[Q]['2015']

16548573278300.0

In [51]:
dif = final.loc[Q]['2015']-final.loc[Q]['2011']
dif

1344553643700.0

In [52]:
difc = final.loc['China']['2015']- final.loc['China']['2011']
difc

2185508646147.629

In [53]:
final.loc['China']['2015']

8797998940421.28

In [54]:
dif

1344553643700.0

In [55]:
final['Energy Supply'].replace('...',np.nan,inplace=True)

In [56]:
final

,Rank,Documents,Citable documents,Citations,Self-citations,Citations per document,H index,Energy Supply,Energy Supply per Capita,% Renewable,2011,2012,2013,2014,2015
Country,,,,,,,,,,,,,,,
China,1,127050,126767,597237,411683,4.70,138,127191000000,93,19.75491,6.612490e+12,7.124978e+12,7.672448e+12,8.230121e+12,8.797999e+12
United States,2,96661,94747,792274,265436,8.20,230,90838000000,286,11.57098,1.520402e+13,1.554216e+13,1.577367e+13,1.615662e+13,1.654857e+13
Japan,3,30504,30287,223024,61554,7.31,134,18984000000,149,10.23282,5.473738e+12,5.569102e+12,5.644659e+12,5.642884e+12,5.669563e+12
United Kingdom,4,20944,20357,206091,37874,9.84,139,7920000000,124,10.60047,2.450911e+12,2.479809e+12,2.533370e+12,2.605643e+12,2.666333e+12
Russian Federation,5,18534,18301,34266,12422,1.85,57,30709000000,214,17.28868,1.589943e+12,1.645876e+12,1.666934e+12,1.678709e+12,1.616149e+12

In [57]:
final.count()

Rank                        5
Documents                   5
Citable documents           5
Citations                   5
Self-citations              5
Citations per document      5
H index                     5
Energy Supply               5
Energy Supply per Capita    5
% Renewable                 5
2011                        5
2012                        5
2013                        5
2014                        5
2015                        5
dtype: int64

What is the mean energy supply per capita

In [58]:
final['Energy Supply per Capita'].mean()

173.2

Maximum %Renewable and what is the percentage?

In [59]:
Max= final['% Renewable'].sort_values(ascending=False)
Maxrenew = (Max.index[0],Max.iloc[0])

In [60]:
Maxrenew

('China', 19.75491)

In [61]:
Cit = final
Cit['Total Cit'] = final['Self-citations']/final['Citations']
MaxCit =(Cit['Total Cit'].idxmax(),Cit['Total Cit'].max())

In [62]:
MaxCit

('China', 0.6893126179389422)

In [63]:
Pop = final
Pop['Pop']=Pop['Energy Supply']/Pop['Energy Supply per Capita']
Pop=Pop['Pop'].sort_values(ascending=False)
Pop=Pop.index[2]
Pop

'Russian Federation'

In [64]:
Cor=final
Cor['Pop Estimate']=Cor['Energy Supply']/Cor['Energy Supply per Capita']
Cor['Citable Documents per Capita']=Cor['Citable documents']/Cor['Pop Estimate']

Cor['Citable Documents per Capita']=Cor['Citable Documents per Capita'].astype(float)
Cor['Energy Supply per Capita']=Cor['Energy Supply per Capita'].astype(float)


Cor=Cor['Citable Documents per Capita'].corr(Cor['Energy Supply per Capita'])

In [65]:
Cor

0.3201502168570339

grouping countris by continent

In [66]:
con =final

ContinentDict  = {'China':'Asia', 
              'United States':'North America', 
              'Japan':'Asia', 
              'United Kingdom':'Europe', 
              'Russian Federation':'Europe', 
              'Canada':'North America', 
              'Germany':'Europe', 
              'India':'Asia',
              'France':'Europe', 
              'South Korea':'Asia', 
              'Italy':'Europe', 
              'Spain':'Europe', 
              'Iran':'Asia',
              'Australia':'Australia', 
              'Brazil':'South America'}

In [67]:
con

,Rank,Documents,Citable documents,Citations,Self-citations,Citations per document,H index,Energy Supply,Energy Supply per Capita,% Renewable,2011,2012,2013,2014,2015,Total Cit,Pop,Pop Estimate,Citable Documents per Capita
Country,,,,,,,,,,,,,,,,,,,
China,1,127050,126767,597237,411683,4.70,138,127191000000,93.0,19.75491,6.612490e+12,7.124978e+12,7.672448e+12,8.230121e+12,8.797999e+12,0.689313,1367645161.290323,1367645161.290323,0.000093
United States,2,96661,94747,792274,265436,8.20,230,90838000000,286.0,11.57098,1.520402e+13,1.554216e+13,1.577367e+13,1.615662e+13,1.654857e+13,0.335031,317615384.615385,317615384.615385,0.000298
Japan,3,30504,30287,223024,61554,7.31,134,18984000000,149.0,10.23282,5.473738e+12,5.569102e+12,5.644659e+12,5.642884e+12,5.669563e+12,0.275997,127409395.973154,127409395.973154,0.000238
United Kingdom,4,20944,20357,206091,37874,9.84,139,7920000000,124.0,10.60047,2.450911e+12,2.479809e+12,2.533370e+12,2.605643e+12,2.666333e+12,0.183773,63870967.741935,63870967.741935,0.000319
Russian Federation,5,18534,18301,34266,12422,1.85,57,30709000000,214.0,17.28868,1.589943e+12,1.645876e+12,1.666934e+12,1.678709e+12,1.616149e+12,0.362517,143500000.0,143500000.0,0.000128

In [68]:
con['Continent'] = con.index.to_series().map(ContinentDict)

con['Population Estimate'] = (con['Energy Supply']/con['Energy Supply per Capita']).astype(float)

result = con.groupby('Continent')['Population Estimate'].agg(['size', 'sum', 'mean'])
result

               size           sum          mean
Continent
Asia              2  1.495055e+09  7.475273e+08
Europe            2  2.073710e+08  1.036855e+08
North America     1  3.176154e+08  3.176154e+08